.container {
  background-color: blue;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.padding {
  padding: 10px;
}

.default-gray {
  background-color: #e0e0e0;
}

.history {
  background-color: white;
  flex-grow: 1;
  font-size: 16px;
  overflow-y: auto;
  height: 0;
}

.form {
  display: flex;
}

.form input {
  flex-grow: 1;
  height: 30px;
  line-height: 30px;
  outline: none;
  border-color: transparent;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}
