<div class="container">
  <div class="default-gray padding">
    <h1>Reactive Chat App</h1>
    <div class="description-container">
      <p>A real-time application written with Spring 5, Redis, and Angular.</p>
      <div>
        <div *ngIf="!auth.authenticated">
          <button (click)="auth.login()">Log In</button>
        </div>
        <div *ngIf="auth.authenticated">
          <button (click)="auth.logout()">Log Out</button>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
